.leaflet-popup-content form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
}

.leaflet-popup-content label {
  font-weight: bold;
  margin-top: 4px;
}

.leaflet-popup-content input,
.leaflet-popup-content select,
.leaflet-popup-content button {
  font-size: 1em;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
